.google_review_card_childe-style {
  .google_review_card-style {
   
    // box-shadow: 0 5px 8px rgba(0, 0, 0, 0.18);
    p {
      @include all_fonts_styles(18px, $fw-normal, $main-font, rgb(0, 0, 0));
    }
    // border: 1px solid #999;
    height: fit-content;
    @include all_fonts_styles(15px, $fw-normal, $main-font, rgb(0, 0, 0));
  }
}

.link_to_google_review-style {
  color: #000;
  @include all_fonts_styles(14px, normal, $main-font, rgb(0, 0, 0));
}
.link_to_google_review-style:hover {
  color: rgb(0, 0, 0);
}


.swiper-container {
  background-color: transparent !important;
  div {
    span {
      z-index: 1 !important;
    }
  }
}

.title-review-tt {
  @include all_fonts_styles(18px, normal, $main-font, rgb(0, 0, 0));
}

.about_image {
  height: 370px;
  object-fit: cover;
  @include mobile {
    height: 240px;
  }
}

.welcome_back {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

// .text_div__container {
//   position: relative;
//   z-index: 100;
//   background-color: rgba(0, 0, 0, 0.2);
//   border: none;
//   @include mobile {
//     width: 100% !important;
//     margin: auto !important;
//   }
//   @include tablet {
//     width: 100% !important;
//   }
// }

.border-lg-right {
  border-right: 1px solid #fff;
  @include mobile {
    border: none !important;
  }
  @include tablet {
    border: none !important;
  }
}

.about_title {
  @include all_fonts_styles(17px, 700, $main-font, $white-color);
  margin-bottom: 10px;

  line-height: 18px;
  min-height: 20px;
}

.about_text {
  @include all_fonts_styles(15px, 500, $main-font, $white-color);
}

.icon_style {
  background: $second-blue-color;
  text-align: center;
  padding: 20px;
  border-radius: 7px;
}

.welcome_text {
  color: #fff;
  h1 {
    font-size: 2.5rem;
    color: #fff;

    @include desktop {
      font-size: 2rem;
    }
    @include tablet {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.5rem;
    }
  }
  p {
    color: #fff;
  }
  span {
    color: #fff;
  }
  a {
    &:hover {
      color: #fff;
    }
  }
}
.home_fixed_bg {
  // background-image: url("/images/home/06960220089032143-welcome.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  background-position: center;
}

// .home_fixed_finance_bg {
//   background-image: url("/images/home/review-back.jpg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
//   z-index: 0;
//   background-position: center;

//   &--quick-search{
//     background-image: url("/images/home/quicksearch-back.jpg");

//   }
// }

  // Why Us
  .about_us_header_section {
    h4 {
      @include all_fonts_styles(40px, 700, $main-font, #fff);
      position: relative;
  
      @include mobile {
        font-size: 23px;
      }
  
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        // transform: translateX(-50%);
        width: 20%;
        height: 3px;
        background-color: $main-color;
      }
    }
  }
  