

.cta-car-left-twopart {
  background-color: #fff;
  text-align: left;
  color: #000 !important;
  line-height: 1.8em;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ed1f24;
  padding: 0 !important;
  margin: 22px 0;
  height: 189px;
  box-shadow: 0 6px 25px 0 rgba(0, 0, 0, .15);
}