@import "../../variables";
@import "../../mixin";

.main {
  background: #fff ; 


  @include mobile {
    background: #fff ; 
  }
}
.home_special_vehicle_detail_btn {
  background-color: $main-color;
  color: #ffffff;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  color: #fff;
  letter-spacing: 1px;


  &:hover{
    background-color: #000;
    color: #fff;

  }
}

.home_special_vehicle_style {
  color: #f4f4f4;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
}

.home_special_vehicle_titilebrand_style {
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  transition: 300ms ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, 0%);
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);

  margin: 20px 0 0 0;
  width: 80%;
}

.home_special_vehicle_style {
  color: #f4f4f4;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
  h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    color: #fff;
  }
}

.home_special_vehicle_detail_btn_style {
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, -0%);

  text-align: center;
  color: white;
  width: 100%;
}

.home_special_vehicle_style {
  transform: translateY(-110%);
  transition: transform 300ms ease;
}

.home_special_vehicle_style {
  color: gray;
  // backdrop-filter: blur(30px);
  // -webkit-backdrop-filter: blur(30px);
  width: 100%;
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
  h3 {
    @include all_fonts_styles(16px, 700, inherit, #fff);
  }
}

.home_special_vehicle_titilebrand_style {
  opacity: 1;
}

.home_special_vehicle_titilebrand_style {
  transition: 300ms ease;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.home_special_vehicle_titilebrand_style {
  transition: 300ms ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, 0%);
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);

  margin: 20px 0 0 0;
  width: 80%;
  h2 {
    @include all_fonts_styles(17px, 800, inherit, $main-color);
  }
}

.home_special_vehicle_img_style {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  // transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1);
  transition: transform 400ms ease;
  backface-visibility: hidden;
}
.home_special_vehicle_container_style:hover {
  background-color: rgba(32, 35, 15, 0.8);
  .home_special_vehicle_img_style {
    opacity: 0.6;
  }
  .home_special_vehicle_detail_btn_style {
    opacity: 1;
    transition: 600ms ease;
    transform: translate(-50%, -50%);
  }

  .home_special_vehicle_titilebrand_style {
    opacity: 1;
  }

  .home_special_vehicle_slider_style {
    transform: translateY(+110%);
    transition: transform 1s ease;
  }
  .home_special_vehicle_style {
    transform: translateY(-110%);
    transition: transform 300ms ease;
  }
  .home_special_vehicle_titilebrand_style {
    transition: 300ms ease;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  }
  .home_special_vehicle_img_style {
    transform: scale(1.15);
    transition: transform 400ms ease;
    width: 100% !important;
    object-fit: cover !important;
  }
}

.home_special_vehicle_container_style {
  overflow: hidden;
  background-color: transparent;
}

.home_special_vehicle_detail_style {
  transition: 300ms ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  width: 100%;

  h5 {
    @include all_fonts_styles(14px, 400, inherit, #fff);
    letter-spacing: 1px;
  }
}

.departments{
  background-color: #eee;
  &__desc-title{
    @include all_fonts_styles(14px, 600, inherit, #000);
text-align: left
  }

  &__desc{
    @include all_fonts_styles(13px, 400, inherit, #000);
 text-align: left;
  line-height: 1.7;

  }
}