.linkto_div__conatiner {
  background-color: #f5f5f5;
}

// .linkto_img_container {
//   position: relative;
//   overflow: hidden;
//   & > img {
//     transform: scale(1);
//     transition: transform ease-in-out 0.3s;
//   }
//   &:hover {
//     & > img {
//       transform: scale(1.2);
//       transition: transform ease-in-out 0.3s;
//     }
//   }
// }
.linkto_img_text_div__container {
  background-color: #000000ad;
  height: 180px;
}

.linkto_title {
  @include all_fonts_styles(20px, $fw-normal, $main-font, $white-color);

  @include tablet {
    @include all_fonts_styles(18px, $fw-normal, $main-font, $white-color);
  }

  @include mobile {
    @include all_fonts_styles(13px, $fw-normal, $main-font, $white-color);
  }
}

.linkto_text {
  @include all_fonts_styles(15px, $fw-normal, $main-font, $white-color);

  @include tablet {
    @include all_fonts_styles(12px, $fw-normal, $main-font, $white-color);
  }

  @include mobile {
    @include all_fonts_styles(12px, $fw-normal, $main-font, $white-color);
  }
}

.linkto_button {
  @include all_fonts_styles(15px, $fw-bold, $main-font, $white-color);
  letter-spacing: 2px;

  @include tablet {
    @include all_fonts_styles(12px, $fw-bold, $main-font, $white-color);
    letter-spacing: 2px;
  }
}

.button_style {
  background-color: $gray;
  border-radius: 5px;
  width: fit-content;

  &:hover {
    background-color: $black-color;
  }
}

.button_style_slider_finance {
  background-color: white;
  color: black;
  border-radius: 5px;

  &:hover {
    background-color: #eae9e9;
  }
}
.button_style_slider {
  background-color: $gray;
  border-radius: 5px;

  &:hover {
    background-color: $black-color;
  }
}

// .linkto_img_text_span__container {
//   background-color: rgba($color: $black-color, $alpha: 0.6);
//   @include all_fonts_styles($fs-xmd, $fw-semibold, inherit, $white-color);
//   height: 45px;
// }

.linkto_img_container_home {
  position: relative;
  overflow: hidden;

  & > div > img {
    transform: scale(1);
    aspect-ratio: 4/2;
    transition: transform ease-in-out 0.3s;
  }
  & > div:first-child {
    overflow: hidden;
  }

  &:hover {
    & > div > img {
      transform: scale(1.05);
      transition: transform ease-in-out 0.3s;
    }
  }
}

.linkto_img_text_div__container_home {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.linkto_img_text_span__container_home {
  @include all_fonts_styles(14px, 400, inherit, $white-color);
  svg {
    width: 50px;
    height: 50px;
    z-index: 0;
  }
  .link_to_svg {
    object-fit: contain;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  @include mobile {
    svg {
      width: 50px;
      height: 50px;
    }
    .link_to_svg {
      width: 50px;
      height: 50px;
    }
    font-size: 13px;
  }
}

.about_large_img {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
  & > img {
    object-fit: cover;
    max-height: 280px;

    @include mobile {
      max-height: 230px;
    }
    @include xldesktop {
      max-height: 500px;
    }
  }
}
.link_to_btn_container {
  border: 1px solid #fff;
  height: 37px;
  white-space: nowrap;
  @include all_fonts_styles(25px, 500, $main-font, $text-color);
  @include mobile {
    font-size: 16px;
  }
  &:hover {
    color: $main-color;
    border: none !important;
  }
}
